*.bak
*-bak
*.kicad_sch-bak

*.lck
~*

*.kicad_prl
fp-info-cache
last_kimesh_settings.json

*missing3Dmodels.txt
kicadpartsplacer-report.csv

test\ board/
gerber_to_order/
NNCpro-backups/
.easyeda_cache/
.metadata/